article#creativos
  ul.list_header
    li
      a#listar(href="/admin/creativos", class='#{articulo == 'Creativos' ? "activo" : null }')
        | Creativos
        span.mask
    li(style='float:left;margin-left: 2px')
      a#listar(href="/admin/control", class='#{articulo == 'Control' ? "activo" : null }')
        | Control
        span.mask
    li
      a#crear(href="/admin/creativos/new", class='#{articulo == 'FormCreativo' ? "activo" : null }')
        | Crear Creativo
        span.mask

  .list_body
    ul.listado
      !=partial('admin/lista_creativos', { creativos: creativos })

