each creativo in creativos 
  li
    .creativo_item
      .creativo(id='#{creativo._id}')
      a.creativo_nombre(href='/creativos/#{creativo._id}') #{creativo.nombre}
      .creativo_titulo #{creativo.titulo}
