each equip in equipamientos
  li
    .equip_item#id
      .equip_nombre #{equip.nombre}
      .equip_ubicacion #{equip.ubicacion}
      .equip_comuna #{equip.comuna}
      .equip_barrio #{equip.barrio}
