each taller in talleres
  li
    .taller_item(id='#{taller._id}')
      a.nombre(href='/talleres/#{taller._id}') #{taller.nombre}
      .descripcion #{taller.descripcion}
      a.ver-equipamientos(href='#') Ver equipamientos
      a.cerrar-equipamientos(href='#', style='display:none;') Cerrar equipamientos
    
      .equipamientosTaller(style='display:none;')
        .list_body
          ul
            -if(equipamientosTaller.length)
              each n in equipamientosTaller
                li
            -else
              p.vacio No se han creado equipamientos para este taller
              button.submit Agregar Equipamiento