ul
  each participante in data
    li
      .participante_item(id='#{participante._id}')
        .participante_image
          if (! participante.img)
            img(src='/images/Anonymous.gif', width='50px')
          else
            img(src='#{participante_img}', width='50px')
        .participante_info_short
          a(href='/participantes/'+participante._id).participante_nombre #{participante.nombre}
          .participante_edad #{participante.edad}
