article#consultas
  ul.opciones
    li
      span.mask
      a.activo#talleres(href='#') Talleres
    li
      a#equipamientos(href='#') Equipamientos
    li
      a#participantes(href='#') Participantes

  .tabs_container
    .tab_content#talleres
      .filtro
        label Equipamiento
        select(name='f_equipamientos_tall')
          option(value='')
          each equip in equipamientos
            option(value='#{equip._id}') #{equip.nombre}

      .filtro
        label Comuna
        !=partial('partials/select', { name: 'f_comunas_tall', options: params.comunas })

      .filtro
        label Creativo
        // !=partial('partials/select_id', { name: 'f_creativos_tall', options: params.creativos })

      .filtro
        label Barrio
        !=partial('partials/select', { name: 'f_barrios_tall', options: params.barrios })

      .filtro
        label Metodologia 
        !=partial('partials/select', { name: 'f_metodos_tall', options: params.metodologias })

      .filtro
        label Habilidades 
        !=partial('partials/select', { name: 'f_habilidades_tall', options: params.habilidades})

    .tab_content#equipamientos(style='display:none;')
      .filtro
        label Comuna
        !=partial('partials/select', { name: 'f_comunas_equip', options: params.comunas })

      .filtro
        label Barrio
        !=partial('partials/select', { name: 'f_barrios_equip', options: params.barrios })

      .filtro
        label Creativo
        // !=partial('partials/select_id', { name: 'f_creativos_equip', options: params.creativos })

      .filtro
        label Tipo
        !=partial('partials/select', { name: 'f_tipos_equip', options: params.tipos })

      .filtro
        label Zonas
        !=partial('partials/select', { name: 'f_zonas_equip', options: params.zonas })

    .tab_content#participantes(style='display:none;')
      .filtro
        label Edad
        !=partial('partials/select', { name: 'f_edades_part', options: params.edades })

      .filtro
        label Barrio
        !=partial('partials/select', { name: 'f_barrios_part', options: params.barrios })

      .filtro
        label Estrato
        !=partial('partials/select', { name: 'f_estratos_part', options: params.estratos })

      .filtro
        label Comuna
        !=partial('partials/select', { name: 'f_comunas_part', options: params.comunas })

    button#buscar Buscar

    .resultado_area
      .resultado_status

      .resultado
