article#error
  .error_frame
    .error
      - var error_header
      - if (typeof(status) != 'undefined') {
      -   if (status == 404) {
             p "Oooooops";
      -    } else if (status == 500) {
            p Oh oh. Que pena <br /><br />
            p Algo no funcionó como previsto. <br />
            p Si persiste por favor contactese con la administración. Gracias <br/><br/>
      -    }
      - } 
      p #{error_text}
      
