#lista_evaluacion
  .evaluacion Sensibilidad
    input(name="sensibilidad", value="1", type="radio")
    input(name="sensibilidad", value="2", type="radio")
    input(name="sensibilidad", value="3", type="radio")
    input(name="sensibilidad", value="4", type="radio")
    input(name="sensibilidad", value="5", type="radio")

  .evaluacion Comunicación
    input(name="comunicacion", value="1", type="radio")
    input(name="comunicacion", value="2", type="radio")
    input(name="comunicacion", value="3", type="radio")
    input(name="comunicacion", value="4", type="radio")
    input(name="comunicacion", value="5", type="radio")

  .evaluacion Apreciación estetica
    input(name="apreciacion", value="1", type="radio")
    input(name="apreciacion", value="2", type="radio")
    input(name="apreciacion", value="3", type="radio")
    input(name="apreciacion", value="4", type="radio")
    input(name="apreciacion", value="5", type="radio")

  .evaluacion Reflexión
    input(name="reflexion", value="1", type="radio")
    input(name="reflexion", value="2", type="radio")
    input(name="reflexion", value="3", type="radio")
    input(name="reflexion", value="4", type="radio")
    input(name="reflexion", value="5", type="radio")

  .evaluacion Creatividad
    input(name="creatividad", value="1", type="radio")
    input(name="creatividad", value="2", type="radio")
    input(name="creatividad", value="3", type="radio")
    input(name="creatividad", value="4", type="radio")
    input(name="creatividad", value="5", type="radio")

  .evaluacion Capacidad de escucha
    input(name="escucha", value="1", type="radio")
    input(name="escucha", value="2", type="radio")
    input(name="escucha", value="3", type="radio")
    input(name="escucha", value="4", type="radio")
    input(name="escucha", value="5", type="radio")

  .evaluacion Compromiso
    input(name="compromiso", value="1", type="radio")
    input(name="compromiso", value="2", type="radio")
    input(name="compromiso", value="3", type="radio")
    input(name="compromiso", value="4", type="radio")
    input(name="compromiso", value="5", type="radio")

  .evaluacion Pensamiento crítico
    input(name="pensamiento", value="1", type="radio")
    input(name="pensamiento", value="2", type="radio")
    input(name="pensamiento", value="3", type="radio")
    input(name="pensamiento", value="4", type="radio")
    input(name="pensamiento", value="5", type="radio")

  .evaluacion Tolerancia
    input(name="tolerancia", value="1", type="radio")
    input(name="tolerancia", value="2", type="radio")
    input(name="tolerancia", value="3", type="radio")
    input(name="tolerancia", value="4", type="radio")
    input(name="tolerancia", value="5", type="radio")

  .evaluacion Honestidad
    input(name="honestidad", value="1", type="radio")
    input(name="honestidad", value="2", type="radio")
    input(name="honestidad", value="3", type="radio")
    input(name="honestidad", value="4", type="radio")
    input(name="honestidad", value="5", type="radio")

  .evaluacion Participación
    input(name="participacion", value="1", type="radio")
    input(name="participacion", value="2", type="radio")
    input(name="participacion", value="3", type="radio")
    input(name="participacion", value="4", type="radio")
    input(name="participacion", value="5", type="radio")

  .evaluacion Reconocer el contexto social
    input(name="contexto_social", value="1", type="radio")
    input(name="contexto_social", value="2", type="radio")
    input(name="contexto_social", value="3", type="radio")
    input(name="contexto_social", value="4", type="radio")
    input(name="contexto_social", value="5", type="radio")

  .evaluacion Reconocer el contexto familiar
    input(name="contexto_familiar", value="1", type="radio")
    input(name="contexto_familiar", value="2", type="radio")
    input(name="contexto_familiar", value="3", type="radio")
    input(name="contexto_familiar", value="4", type="radio")
    input(name="contexto_familiar", value="5", type="radio")

  .evaluacion Reconocer el contexto geográfico
    input(name="contexto_geográfico", value="1", type="radio")
    input(name="contexto_geográfico", value="2", type="radio")
    input(name="contexto_geográfico", value="3", type="radio")
    input(name="contexto_geográfico", value="4", type="radio")
    input(name="contexto_geográfico", value="5", type="radio")

  .evaluacion Respeto
    input(name="respeto", value="1", type="radio")
    input(name="respeto", value="2", type="radio")
    input(name="respeto", value="3", type="radio")
    input(name="respeto", value="4", type="radio")
    input(name="respeto", value="5", type="radio")

  .evaluacion Confianza
    input(name="confianza", value="1", type="radio")
    input(name="confianza", value="2", type="radio")
    input(name="confianza", value="3", type="radio")
    input(name="confianza", value="4", type="radio")
    input(name="confianza", value="5", type="radio")

  .evaluacion Construcción colectiva
    input(name="colectiva", value="1", type="radio")
    input(name="colectiva", value="2", type="radio")
    input(name="colectiva", value="3", type="radio")
    input(name="colectiva", value="4", type="radio")
    input(name="colectiva", value="5", type="radio")

  .evaluacion Aceptación del otro
    input(name="aceptacion", value="1", type="radio")
    input(name="aceptacion", value="2", type="radio")
    input(name="aceptacion", value="3", type="radio")
    input(name="aceptacion", value="4", type="radio")
    input(name="aceptacion", value="5", type="radio")

  .evaluacion Capacidad de expresión
    input(name="expresion", value="1", type="radio")
    input(name="expresion", value="2", type="radio")
    input(name="expresion", value="3", type="radio")
    input(name="expresion", value="4", type="radio")
    input(name="expresion", value="5", type="radio")

  .evaluacion Trabajo en equipo
    input(name="equipo", value="1", type="radio")
    input(name="equipo", value="2", type="radio")
    input(name="equipo", value="3", type="radio")
    input(name="equipo", value="4", type="radio")
    input(name="equipo", value="5", type="radio")
