!!! 5
html
  head
    link(rel= 'stylesheet', href= '/stylesheets/css3.css', type= 'text/css')
    link(rel= 'stylesheet', href= '/styles.css', type= 'text/css')
    link(rel= 'stylesheet', href= '/stylesheets/jquery.jgrowl.css', type= 'text/css')
    link(rel= 'stylesheet',  href= '/stylesheets/thirdparty/jqueryui/themes/base/jquery.ui.all.css', type= 'text/css')

    title Red Artes Visuales
  body
    .root-wrapper
      article#main
        header
          - if ( typeof articulo != 'undefined')
            input(type='hidden', name='articulo', value='#{articulo}')
          span.logo
            img(src="/images/logoRAV_header.png")

          ul.main_menu
            li.menu_item
              a#equipamientos(href='/equipamientos') Equipamientos
            li.menu_item
              a#talleres(href='/talleres') Talleres 
            li.menu_item
              a#consultas(href='/consultas') Consultas 
            - if (everyauth.loggedIn)
              li.menu_item
                a#logout(href='/logout') Logout

        section.content
          != body

    script(type="text/javascript", src="/javascripts/thirdparty/jquery/jquery-1.8.min.js")

    script(type="text/javascript", src="/javascripts/thirdparty/jqueryui/jquery.ui.core.min.js")
    script(type="text/javascript", src="/javascripts/thirdparty/jqueryui/jquery.ui.widget.min.js")
    script(type="text/javascript", src="/javascripts/thirdparty/jqueryui/jquery.ui.datepicker.min.js")
    script(type="text/javascript", src="/javascripts/thirdparty/jquery.html5_upload.js")
    script(type="text/javascript", src="http://cdn.jquerytools.org/1.2.7/tiny/jquery.tools.min.js")
    script(type="text/javascript", src="/javascripts/thirdparty/galleria-1.2.8.min.js")

    script(type="text/javascript", src="/javascripts/forms.js")
    script(type="text/javascript", src="/javascripts/app.js")
    script(type="text/javascript", src="/javascripts/consultas.js")
    script(type="text/javascript", src="/javascripts/talleres.js")
    script(type="text/javascript", src="/javascripts/equipamientos.js")