!!! 5
html
  head
    link(rel= 'stylesheet', href= '/stylesheets/css3.css', type= 'text/css')
    link(rel= 'stylesheet', href= '/styles.css', type= 'text/css')
    link(rel= 'stylesheet', href= '/stylesheets/jquery.jgrowl.css', type= 'text/css')
    
    title Red Artes Visuales
  body
    .root-wrapper
      article#main
        header
          span.logo
          ul.main_menu
            li.menu_item
              a#equipamientos(href='/equipamientos') Equipamientos
            li.menu_item
              a#talleres(href='/talleres') Talleres 
            li.menu_item
              a#consultas(href='/consultas') Consultas 

        section.content
          != body
    script(type="text/javascript", src="/javascripts/thirdparty/jquery/jquery-1.7.min.js")
    script(type="text/javascript", src="/javascripts/thirdparty/jquery.jgrowl_minimized.js")
