// ============= UTILS ==============
corner-each(tl, tr, br, bl)
  -moz-border-radius-topleft tl
  -webkit-border-top-left-radius tl
  border-top-left-radius tl

  -moz-border-radius-topright tr
  -webkit-border-top-right-radius tr
  border-top-right-radius tr

  -moz-border-radius-bottomleft bl
  -webkit-border-bottom-left-radius bl
  border-bottom-left-radius bl

  -moz-border-radius-bottomright br
  -webkit-border-bottom-right-radius br
  border-bottom-right-radius br

corner(px)
  corner-each(px,px,px,px)

corner-top(px)
  corner-each(px,px,0,0)

corner-bottom(px)
  corner-each(0,0,px,px)

corner-left(px)
  corner-each(px,0,0,px)

corner-right(px)
  corner-each(0,px,px,0)

// ============= UTILS ==============
§
*
  margin: 0
  padding: 0

a
  text-decoration: none
  color: #00adef

a:hover
  color: #ed008c

li
  display: block

body
  font-family: "Lucida Grande",Arial,Helvetica,Verdana,sans-serif
  overflow: auto 
  background-color: #DDDDDD

.ajaxloader
  width: 16px
  height: 16px
  background: url(/images/ajax-loader.gif) 0 0 no-repeat

form li
  margin-bottom: 10px

.element *, .evaluacion *
  vertical-align: middle

.element_checkbox_label
  width: 100%
  .row
    clear: left

  .options
    corner(4px)
    border: 1px solid #AAA
    width: 480px
    width: 480px
    padding: 10px
    float: left
    .option
      float: left
  label
    float: left
  .option
    padding-bottom: 5px
    label, input
      float: left
    input
      margin-right: 3px
      margin-top: 4px


label
  display: inline-block
  width: 180px
  padding-right: 25px
  text-align: right

.header-content label
  text-align: left

.header-content label
  text-align: left

.element_checkbox
  display: inline-block
  width: 300px

.evaluacion input
  display: inline-block;
  width: 20px;

#submit, .submit
  margin-left: 200px 
  border-radius: 3px
  background-color: #DDD
  color: #00adef
  font-weight: bold
  padding: 10px
  width: 100px

#submit:hover, .submit:hover
  background-color: #00adef
  color: white 


input
  corner(4px)

input[type=radio]
  padding: 5px

input[type=checkbox]
  padding: 5px

label.radio_sino
  margin-right: 10px
  margin-left: 2px
  width: 10px

label.radio_text
  margin-right: 10px
  margin-left: 2px
  width: 135px
  text-align: left
  padding: 0
  margin-right: 0

label.radio_eval
  margin-right: 10px
  margin-left: 2px
  width: 50px

input[type=text],input[type=password]
  display: inline-block
  height: 32px
  border: 1px solid #AAA
  width: 490px
  padding-left: 10px

.login input
  width: 300px


input.radio 
  height: 12px
  width: 50px
  text-align: left

textarea
  display: inline-block
  margin: 10px 0
  border: 1px solid #AAA
  width: 500px
  height: 80px  
  corner(4px)

select
  display: inline-block
  width: 500px
  margin: 10px 0 10px;
  corner(4px)

form, #lista_evaluacion
  box-shadow: 0px 0px 5px #666
  background-color: white
  width: 800px
  margin: auto
  float: left
  corner(15px)
  font-size: 0.8em

form h1
  padding-bottom: 25px

#main
  margin: auto
  width: 800px
  padding: 20px
  header
    width: 800px    
    margin: auto

    span.logo
      float: left
      margin: 0

ul.main_menu
  list-style-type: none
  text-align: center
  display: inline-block
  margin-left: 80px
  margin-top: 20px

li.menu_item
  display: inline
  padding: .5em 1em

.content
  float: left
  padding-bottom: 100px

.list_header
  margin: 10px 0 10px 0;

.list_header h1
  float: left
  
.list_header a
  float: right;

.taller_nombre, equip_nombre,taller_equipamiento
  font-size: 1.2em
  font-weight: bold

.taller_descripcion, .taller_objetivos, taller_equip, equip_ubicacion,equip_comuna,equip_barrio
  font-size: 0.8em;

#consultas
  width: 800px
  margin: auto
  margin-top: 10px
  ul
    float: left
    li
      float: left
      a
        padding: 10px
        float: left

  .tabs_container
    float: left
    clear: left
    background: white
    width: 800px
    corner-each(0, 15px, 15px, 15px)
    box-shadow: 0px 0px 5px #666
  .tab_content
    padding: 10px

  .opciones
    span.mask
      width: 86px
      height: 6px
      background: white
      position: absolute
      bottom: -5px
      left: 0
    li
      position: relative
      a
        &.activo
          background: white
          corner-top(15px)
          color: #ed008c
          font-weight: 900
          box-shadow: 0px 0px 5px #666

  button#buscar
    float: right
    margin: 0 30px 10px
    padding: 10px

article#equipamiento,
article#participante,
article#taller
  header
    margin: 10px 0 30px
    float: left
    box-shadow: 0px 0px 5px #666
    corner(15px)
    background: white
    .header-content
      padding: 10px
    label,p
      font-weight: 900
    label
      font-size: 11px
      color: #00ADEF
    p
      font-size: 20px

  .list_header
    a
      margin-right: 2px
      &#tab-talleres
        float: left
        span.mask
          width: 87px

      &#tab-participantes
        float: left
        span.mask
          width: 124px

      &#tab-editar
        float: right
        span.mask
          width: 124px

      &#tab-general
        float: left
        span.mask
          width: 124px

article#equipamiento, 
article#taller, 
article#participante, 
article#creativo, 
article#evaluacion
  form
    corner-bottom(15px)
    ul
      padding: 10px
    li
      clear: left
      float: left
      margin-bottom: 10px

article#equipamientos, 
article#equipamiento, 
article#talleres, 
article#taller_base, 
article#taller, 
article#participante,
article#participantes,
article#creativos,
article#creativo,
article#monitor,
article#evaluacion
  .list_header
    span.mask
      height: 6px
      background: white
      position: absolute
      bottom: -5px
      left: 0
      display: none
    a
      padding: 10px
      background-color: white
      corner-top(15px)
      &.activo
        color: #ed008c
        font-weight: 900
        box-shadow: 0px 0px 5px #666
        position: relative
        span.mask
          display: block


article#taller.nobase
  .list_header
    a
      &#crear
        float: right
        span.mask
          width: 183px

      &#listar
        float: left
        span.mask
          width: 124px

article#equipamientos,
article#consultas
  .list_header
    a
      &#crear
        float: right
        span.mask
          width: 183px

      &#listar
        float: left
        span.mask
          width: 143px

  .equip_item
    margin-left: 10px
    margin-top: 10px
    border-bottom: 1px solid #EEE
    p
      font-size: 12px
    a
      &.nombre
        font-size: 14px
        font-weight: 900


article#taller, 
article#talleres,
article#creativo,
article#creativos, 
article#monitor
  .list_header
    a
      &#crear
        float: right
        span.mask
          width: 118px

      &#listar
        float: left
        span.mask
          width: 86px

  .taller_item, .creativo_item
    margin-top: 10px
    border-bottom: 1px solid #EEE
    p, .descripcion
      font-size: 12px
    a
      &.nombre
        font-size: 14px
        font-weight: 900

span.mask_detalle
  width: 113px
  background: white;
  height: 6px;
  background: white;
  position: absolute;
  bottom: -5px;
  left: 0;

article#equipamientos, 
article#equipamiento, 
article#taller, 
article#talleres,
article#participantes,
article#creativos,
article#monitor,
article#evaluacion
  .list_body
    min-height: 60px
    width: 800px 
    float: left
    corner-each(0, 0, 15px, 15px)
    box-shadow: 0px 0px 5px #666
    background: white
    ul
      padding: 10px
      width: 97.5%
      float: left
      clear: left

article#talleres
  .list_body
    ul
      padding: 10px 20px
      width: 95%


article .list_body .item
  padding: 20px
  display: inline-block
  
  h1
    margin-bottom: 10px
  .fecha
    font-size: 0.85em
  .equipamiento
    margin-top: 2px
  .metodologias
    display: inline-block
    margin-top: 20px
    ul
      border: 1px solid black
  .habilidades
    margin-top: 20px
    ul
      border: 1px solid black


.ejecucion

.ejecucion#ejecuta_taller,.internal_right_tab 
  float: right

.resultado_area
  width: 100% 
  clear: both
  padding-top: 10px
  
.resultado_status
  display: none
  margin: 10px 30px 0 10px
  font-size: 10px
  border-top: 1px solid #00adef
  padding-top: 10px

.listado
  margin-left: 10px

.listado_participantes,.listado_talleres_equipamientos
  padding: 0px
  width: 756px
  display: inline-block
  margin: 0 20px 20px 20px
  border: 1px solid #00adef
  corner(3px)

.participante_item
  width: 100%
  display: inline-block

.participante_image
  margin-right: 10px
  vertical-align: middle
  display: inline-block

.participante_image img
  vertical-align: middle
  
.participante_nombre
  margin-right: 10px
  vertical-align: middle

.participante_info
  vertical-align: middle
  height: 100%
  display: inline-block

.participante_item:hover
  cursor: pointer 
  background-color: #00adef

.participante_info_short
  width: 75%
  vertical-align: middle
  height: 100%
  display: inline-block

.participante_evaluacion
  width: 50px
  display: inline-block

.participante_edad
  font-size: 0.8em

#agrega_participantes_dialog
  display: none
  position: absolute
  top: 240px
  right: 220px
  width: 480px  
  border: 1px solid #00adef
  background-color: white
  z-index: 999

.crea_nuevo_participante
  margin: 10px 20px 5px 20px 
  #crea_nuevo_part
    width: 100%
    color: white
    background-color: #00adef
    padding: 10px

.participantes_all
  padding: 20px

#instancia_taller
  margin-left:370px

.vacio
  color: #666
  font-style: italic
  margin-top: 12px
  float: left
  font-size: 12px

#talleres
  .list_body
    li
      float: left
      width: 100%
      margin-bottom: 10px
  .equipamientosTaller
    .list_body
      box-shadow: 0px 0px 0px #FFF
      border: 1px solid #AAA
      corner(3px)
      .vacio
        color: #666
        font-style: italic
        margin-top: 12px
        float: left
    
  a.ver-equipamientos, a.cerrar-equipamientos
    font-size: 11px
  a.cerrar-equipamientos
    color: #ed008c

  .submit
    float: right
    width: auto
    cursor: pointer

.login form, .error_frame .error
  border: 1px solid #00adef
  margin: 150px auto
  width: 600px
  padding: 25px
  float: none

.login .element
  margin-bottom: 10px

#logout
  float: right;
  font-size: 0.8em

.taller_img img, .participante_evaluacion img
  width: 32px 
  vertical-align: middle

.info
  h1
    display: inline-block
  p
    display: inline-block
    margin-left: 15px
  padding: 4px
  border: 1px solid #00adef
  margin: 30px

  .taller-_name
    font-weight: bold
    font-size: 16px
   .participante_name
    font-weight: bold

.evaluaciones
  padding: 25px

.eval_header
  display: inline-block
  margin-left:180px
  margin-top: 20px
  p
    float: left
    text-align: center
    width: 45px
    margin-right: 22px
    margin-left: 16px
    font-size: 12px
    color: #ed008c
    font-weight: bold

#taller 
  .content
    float: left
    padding: 0
    padding-bottom: 50px
    width: 100%
    background: white
    border-radius: 0
    box-shadow: 0px 0px 5px #666
    form
      box-shadow: none

  .navegacion_interna
    .tabs_container
      float: left
      width: 100%
    .tab_content
      float: left
      margin: 0 20px
      border: 1px solid #00adef
      corner(4px)
      box-shadow: 0px 0px 3px #666;
      width: 92.3%
      min-height: 60px
      padding: 10px
    ul
      &.opciones
        margin-top: 30px
        padding-left: 30px
      float: left
      width: 100%
      display: inline-block
      font-size: 13px
    li.tab-item
      float: left
      margin: 0 10px 0 0px
      clear: none
      border: 1px solid #00adef
      border-bottom: 0
      corner-top(15px)
      a.activo
        color: white
        background: #00adef

  .tab_content#participantes
    .vacio
      margin-top: 10px
    .submit
      width: auto
      float: right
      margin: 0

article#participante
  .list_header
    a
      &#crear
        float: right
        span.mask
          width: 183px

      &#listar
        float: left
        span.mask
          width: 192px

ul#errors
  position: absolute;
  float: left;
  top: 150px;
  margin: 0 0 0 200px;
  color: #ed008c

.error p
  text-align: center

p.no_results
  font-size: 0.8em
  padding: 20px


article#equipamiento
  .vacio
    margin-left: 20px
  button.submit
    width: auto
    margin: 0
    float: right
    margin-right: 30px
  #agregar_sesion
    float: left
    padding-bottom: 20px
    padding-left: 30px
    select
      float: left
      width: 300px
      margin: 0
      height: 30px
      margin-top: 5px
    #fecha
      margin: 0 10px
      width: 300px
      margin-top: 5px
      height: 28px
