// ============= UTILS ==============
corner-each(tl, tr, br, bl)
  -moz-border-radius-topleft tl
  -webkit-border-top-left-radius tl
  border-top-left-radius tl

  -moz-border-radius-topright tr
  -webkit-border-top-right-radius tr
  border-top-right-radius tr

  -moz-border-radius-bottomleft bl
  -webkit-border-bottom-left-radius bl
  border-bottom-left-radius bl

  -moz-border-radius-bottomright br
  -webkit-border-bottom-right-radius br
  border-bottom-right-radius br

corner(px)
  corner-each(px,px,px,px)

corner-top(px)
  corner-each(px,px,0,0)

corner-bottom(px)
  corner-each(0,0,px,px)

corner-left(px)
  corner-each(px,0,0,px)

corner-right(px)
  corner-each(0,px,px,0)

// ============= UTILS ==============
§
*
  margin: 0
  padding: 0

a
  text-decoration: none
  color: #00adef

a:hover
  color: #ed008c

li
  display: block

body
  font-family: "Lucida Grande",Arial,Helvetica,Verdana,sans-serif
  overflow: auto 
  background-color: #DDDDDD

.ajaxloader
  width: 16px
  height: 16px
  background: url(/images/ajax-loader.gif) 0 0 no-repeat

label
  display: inline-block
  width: 200px

.element *, .evaluacion *
  vertical-align: middle

.element_checkbox_label
  vertical-align: middle
  width: 200px
  display: inline-block

.element_checkbox
  display: inline-block
  width: 300px

.evaluacion input
  display: inline-block;
  width: 20px;

#submit
  width: 80px
  margin-left: 425px 
  border-radius: 3px
  background-color: #EEE
  color: red
  font-weight: bold

#submit:hover
  background-color: red
  color: white

input[type=radio]
  padding: 5px

input[type=checkbox]
  padding: 5px

label.radio_sino
  margin-right: 10px
  margin-left: 2px
  width: 10px

label.radio_text
  margin-right: 10px
  margin-left: 2px
  width: 50px

input[type=text]
  display: inline-block
  margin: 10px 0
  height: 32px
  border: 1px solid black
  width: 300px

input.radio 
  height: 12px
  width: 50px
  text-align: left

textarea
  display: inline-block
  margin: 10px 0
  width: 300px
  height: 80px  

select
  display: inline-block
  width: 300px
  margin: 10px 0 10px;

form, #lista_evaluacion
  box-shadow: 0px 0px 5px #666
  background-color: white
  width: 800px
  margin: auto
  float: left
  corner(15px)
  font-size: 0.8em

form h1
  padding-bottom: 25px

#main
  margin: 4px 0 20px 
  padding: 20px
  header
    width: 800px    
    margin: auto

    span.logo
      float: left
      margin: 0

ul.main_menu
  list-style-type: none
  text-align: center
  display: inline-block
  margin-left: 80px
  margin-top: 20px

li.menu_item
  display: inline
  padding: .5em 1em

.content
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  clear: left

.list_header
  margin: 10px 0 10px 0;

.list_header h1
  float: left
  
.list_header a
  float: right;

.taller_item:hover, equip_item:hover
  background-color: #00adef
  border-left: 1px solid #edeaec
  border-right: 1px solid #edeaec

.taller_nombre, equip_nombre,taller_equipamiento
  font-size: 1.2em
  font-weight: bold

.taller_fecha, taller_equip, equip_ubicacion,equip_comuna,equip_barrio
  font-size: 0.8em;

#consultas
  width: 800px
  margin: auto
  margin-top: 10px
  ul
    float: left
    li
      float: left
      a
        padding: 10px
        float: left

  .tabs_container
    float: left
    clear: left
    background: white
    width: 800px
    corner-each(0, 15px, 15px, 15px)
    box-shadow: 0px 0px 5px #666
  .tab_content
    padding: 10px

  .opciones
    span.mask
      width: 86px
      height: 6px
      background: white
      position: absolute
      bottom: -5px
      left: 0
    li
      position: relative
      a
        &.activo
          background: white
          corner-top(15px)
          color: #ed008c
          font-weight: 900
          box-shadow: 0px 0px 5px #666

  button#buscar
    float: right
    margin: 0 30px 10px
    padding: 10px

article#equipamiento, article#taller
  form
    corner-bottom(15px)
    ul
      padding: 10px

article#equipamientos, article#equipamiento, article#talleres, article#taller_base, article#taller
  width: 800px
  margin: auto

  .list_header
    span.mask
      height: 6px
      background: white
      position: absolute
      bottom: -5px
      left: 0
      display: none
    a
      padding: 10px
      background-color: white
      corner-top(15px)
      &.activo
        color: #ed008c
        font-weight: 900
        box-shadow: 0px 0px 5px #666
        position: relative
        span.mask
          display: block


article#equipamientos, article#equipamiento
  .list_header
    a
      &#crear
        float: right
        span.mask
          width: 170px

      &#listar
        float: left
        span.mask
          width: 143px

  .equip_item
    margin-top: 10px
    border-bottom: 1px solid #EEE
    p
      font-size: 12px
    a
      &.nombre
        font-size: 14px
        font-weight: 900

article#taller, article#talleres
  .list_header
    a
      &#crear
        float: right
        span.mask
          width: 118px

      &#listar
        float: left
        span.mask
          width: 86px



article#equipamientos, article#equipamiento, article#taller, article#talleres
  .list_body
    min-height: 60px
    width: 100%
    float: left
    corner-each(0, 0, 15px, 15px)
    box-shadow: 0px 0px 5px #666
    background: white
    ul
      padding: 10px
      width: 97.5%
      float: left
      clear: left


.ejecucion

.ejecucion#ejecuta_taller
  float: right

.resultado_area
  width: 100% 
  clear: both
  padding-top: 10px
  
.resultado_status
  display: none
  margin: 10px 30px 0 10px
  font-size: 10px
  border-top: 1px solid #00adef
  padding-top: 10px
