-var participantes = [{_id:1,nombre: 'pablo',edad: '7'},{_id: 2, nombre: 'anita',edad:'8'},{_id: 3, nombre:'rosa',edad:'9'}];
article#taller
  .list_header
    a#listar.activo Detalle taller
      span.mask_detalle
  .list_body
    .item
       h1.nombre #{taller.nombre}
       -console.log(taller)
       .fecha  #{taller.fecha}
       p En &nbsp;
       a(href="#") ImaginaLab
  
       p #{taller.metodologias}
       .metodologias Metodologias
         ul
           li Sensibilización
           li Recorrido
           li Dinámica
           li Juego
           li Técnicas creativas
           li Presentación de referentes
  
       .habilidades Habilidades
         ul
           li Reflexión
           li Creatividad
           li Capacidad de escucha
           li Compromiso
           li Pensamiento critico


    .navegacion_interna.list_header
      ul
        li 
          a(href="#") Participantes
        li 
          a(href="#") Evaluacion & Resultados
        li 
          a(href="#") Fotos / Videos
        li
          a(href="#", id="agrega_part", class="internal_right_tab") Agregar participante
      #agrega_participantes_dialog
        .crea_nuevo_participante
          button(id='crea_nuevo_part') Crear participante
        .participantes_all
 
    .listado_participantes
      ul
        !=partial('partials/lista_participantes',{ participantes: participantes})
