#taller
  h1.nombre
  .fecha
  .equipamiento

  .metodologias

  .habilidades


  .navegacion_interna
    ul
      li General
      li Participantes
      li Evaluacion & Resultados
      li Fotos / Videos
  
  .informacion
