article#talleres
  .list_header
    a#listar(href="/talleres", class='#{articulo == 'Talleres' ? "activo" : null }') 
      | Talleres
      span.mask
    a#crear(href="/talleres/new", class='#{articulo == 'FormTaller' ? "activo" : null }') 
      | Crear Taller 
      span.mask

  .list_body
    ul.listado
      !=partial('partials/lista_talleres', { talleres: talleres })

