article#talleres
  .list_header
    a#listar(href="/talleres", class='#{articulo == 'Talleres' ? "activo" : null }') 
      | Talleres
      span.mask
    a#crear(href="/talleres/new", class='#{articulo == 'FormTaller' ? "activo" : null }') 
      | Crear Taller 
      span.mask

  .list_body
    ul.listado
      li
        .taller_item Creación de videos
        .taller_fecha 30 agosto 2012
        .taller_equip ImaginaLab
      !=partial('partials/lista_talleres', { talleres: talleres })

